$headerColor: #4d0c5a;
$colorFontHeader: #fff;
$colorFontSection: #212020;
$colorFontChangePass: #bfc2d3;
$pLabel: 0 10px;
$pLeft: 92px;
$mLine: 23px 0;

@mixin fontStyle {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

  header {
    width: 100%;
    height: 129px;
    border-radius: 6px;
    box-shadow: 0 30px 50px 0 rgba(45, 44, 101, 0.05);
    background-color: $headerColor;
    padding-left: $pLeft;
    margin-top: 45px;

    .title {
      @include fontStyle();
      font-size: 32px;
      color: $colorFontHeader;
    }

    .subtitle {
      @include fontStyle();
      font-weight: normal;;
      font-size: 18px;
      color: $colorFontHeader;
      opacity: 0.8;
    }
  }

  section {
    padding-left: $pLeft;
    height: 697px;
    box-shadow: 0 30px 50px 0 rgba(26, 25, 62, 0.2);

    .profile {
      display: flex;
      padding-top: 22px;
      .image {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
      .name{
          @include fontStyle();
          font-size: 32px;
      }
    }

    form{
        margin-top: 43px;
        .line{
            width: 100%;
            height: 2px;
            margin: $mLine;
            opacity: 0.4;
            border: solid 1px #bfc2d3;
        }

        .changePass{
            @include fontStyle();
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 35px;
            color: $colorFontChangePass;
        }

        input{
            position: relative;
            color: $colorFontSection;

        }
        label{
            position: absolute;
            top: -12px;
            left: 19px;
            z-index: 1;
            height: 20px;

            background-color: #fff;
            border: none;
            color: $colorFontSection;

            padding: $pLabel;
        }

        .btnSave{
            
            width: 180px;
            height: 60px;
            border-radius: 30px;
            background-color: blue;
        }
    }

    
  }

