@import '../../helper/variables';


@mixin btnDefault(){
    width: 160px;
    height: 40px;
    border-radius: 50px;
    background-color: $color_Button2;
    color: $color_Button1;
    border: 1px solid $color_Button1;
    transition: all .3s ease-in-out;
}
