@import "../../helper/mixins";
@import "../../helper/variables";
@import "../../components/Button/button";

$pTitle: 15px;

.login{
  @media screen and (min-width: 768px) {
      padding: 102px 63px;
  }
}

.login_section {
  .logo_brand {
    padding-left: $pTitle;
  }

  .subtitle {
    @include fontStyle(600, 14px);
    margin-top: 72px;
    margin-bottom: 24px;
    color: $font-color-white-1;
    text-transform: uppercase;
    padding-left: $pTitle;
    
  }

  .title_login {
    @include fontStyle(600, 24px);
    padding-left: $pTitle;
  }

  .input-field{
    form {
    label {
      @include fontStyle(600, 14px);
      color: $font-color-white-1;
      padding-left: 14px;
    }

    .input_form {
      height: 40px;
      border-radius: 20px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px #dfe2e6;
      background-color: $font-color-white;
      padding-left: 44px;
    }

    .input_email {
      position: relative;

      .icon1 {
        @include iconPosition();
        left: 12px;
      }
    }

    .input_password {
      position: relative;

      .icon2 {
        @include iconPosition();
        left: 12px;
      }

      .icon3 {
        @include iconPosition();
        right: 12px;
      }
    }

    .button_group {
      padding-top: 30px;
      margin-bottom: 13px;
      display: flex;
      justify-content: space-between;

      .btn {
        @include btnDefault();
        @include fontStyle(bold, 14px);
      }

      .btnLogin {
        background-color: $color_Button1;
        color: $font-color-white;
        box-shadow: 0 10px 20px 0 rgba(189, 16, 224, 0.3);

        &:hover {
          background-color: $color_Button2;
          color: $color_Button1;
        }
      }

      .btnRegister {
        &:hover {
          background-color: $color_Button1;
          color: $color_Button2;
        }
      }
    }
  }
  }
}
.image_section {
  position: relative;
  width: 642px;
  height: 697px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
