$size: 18px;
$font_weight: normal;

@mixin fontStyle($fontWeight: $font_weight, $fontSize: $size) {
    font-weight: $fontWeight;
    font-size: $fontSize;

    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }