

$bg-header-color: #4d0c5a;

$font-color-white: #fff;
$font-color-white-1: #6b6c6f;
$font-color-black: #212020;
$font-color-gray: #bfc2d3;
$font-color-pink: #bd10e0; 

$color_Button1: #bd10e0;
$color_Button2: #fff;

//padding
$pLabel: 0 10px;
$pSection: 92px;

// margin
$mLine: 23px 0;